// Typographie
$font_principal: 'play', sans-serif;

// Couleurs
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green: rgb(6, 173, 0);
$grey: rgb(126, 124, 124);
$blue: rgb(64, 169, 255);
$yellow: rgb(236, 193, 0);
$orange-light: rgb(239, 215, 207);
$red: rgb(172, 19, 19);

// Media Queries
$telephone: 425px;
$tablet: 800px;
$desktop: 992px;
