@use 'base/variables' as v;
@use 'base/mixins' as m;

.filtre-form {
    font-weight: bold;
    text-transform: uppercase;

    .btn-filtre {
        margin-top: 2rem;
    }
    .btn-red {
        @include m.btn(v.$red);
        width: auto;
        margin-left: 2rem;
    }
    .btns {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        
    }

    
}
